body {
    height: 120vh;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    background-size: cover;
    width:  100%;
    color: #001d4f;
}

span {
    font-style: italic;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

nav {
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #008795;
}

.nav-item {
    color: white;
}

.list-group-item {
    font-size: 15px;
    padding: 2px;
    background:rgba(240, 104, 42, 0.7);
}

.gif {
    width: 45vw;
    justify-content: center;
}

.socialIcons {
    height: 40px;
    padding: 2px;
}

#container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cardDiv {
    /* height: 10vh; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fancy {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#whatamI {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 0px;
}

#introH1 {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0px;
}

#contactContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

#skillsH2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 10px;
}

[class*=" devicon-"], [class^=devicon-] {
    font-size: 55px;
    color: pink;
}

#projects {
    background-color: black;
    width: 100%;
    height: 100%;
}