html,
body {
  font-family: "JetBrains Mono", monospace;
  background-color: black;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

span {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

nav {
  background-color: black;
  margin-bottom: 20px;
  height: 10vh;
}

.navbar .nav-link {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  text-decoration: underline;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.custom-ul {
  list-style: none;
  padding-left: 0px;
  text-align: left;
  font-family: "JetBrains Mono", monospace;
}

.contacts {
  font-size: 30px;
  color: black;
}

#welcome-section {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff7500;
  overflow: hidden;
}

#welcome-tagline-contact {
  justify-content: center;
}

#tagline-container {
  display: flex;
  justify-content: space-evenly;
}

#tagline-text, #tagline-list {
  display: flex;
  align-items: center;
}

.name-object {
  font-family: "Bebas Neue", cursive;
  margin: 10px;
  font-size: 80px;
}

#contact-container {
  padding: 50px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  justify-content: end;
}

#headshot {
  height: 40vh;
  margin-bottom: 20px;
}

.gif {
  width: 450px;
  justify-content: center;
}

#projects-section {
  padding-bottom: 50px;
  background-color: #fdbe43;
  flex-direction: column;
  padding-top: 100px;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#section-intro {
  font-size: 60px;
  width: 100vw;
}

#projects-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#skills-section {
  background-color: #0092d0;
  padding-top: 85px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeline {
  height: 80vh;
  display: flex;
  align-items: center;
}

.skills {
  font-size: 60px;
  color: black;
}

#about-section {
  height: 80vh;
  padding-top: 10px;
  background-color: #fff7ec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-text {
  width: 50vw;
  font-family: "JetBrains Mono", monospace;
}

#family {
  width: 100vw;
  height: 50vh;
  max-width: 500px;
  height: auto;
  margin: 40px;
}

#footer {
  font-size: 15px;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}
#footer a {
  color: white;
  font-size: 25px;
}

#footer p {
  color: white;
  font-size: 10px;
  font-style: italic;
}

#employer-link {
  color: rgb(59, 56, 56);
  text-decoration: underline;
}

#wit-link {
  color: rgb(59, 56, 56);
  text-decoration: underline;
}

/* iPhone SE */

@media screen and (max-width: 375px) {
  #welcome-section {
    height: 100vh;
    width: 100vw;
    background-color: pink;
    overflow: auto;
  }

  #tagline-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .name-object {
    font-family: "Bebas Neue", cursive;
    margin: 10px;
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  #welcome-section {
    padding-top: 200px;
    background-color: pink;
    /* overflow: hidden; */
  }

  #tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #projects-section {
    flex-direction: column;
    padding-top: 100px;
    height: 150vh;
    display: flex;
    overflow:inherit;
  }
  
  #section-intro {
    font-size: 60px;
    height: 20vh;
    width: 100vw;
  }

  #projects-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150vh;
    overflow: inherit;
  }
  

}

@media screen and (max-width: 1508px) {

  #projects-section {
    flex-direction: column;
    padding-top: 100px;
    height: 150vh;
    display: flex;
    overflow:inherit;
  }
  
  #section-intro {
    font-size: 60px;
    height: 20vh;
    width: 100vw;
  }

  #projects-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150vh;
    overflow: inherit;
  }
  

}